 *{
    margin: 0px;
 }
 body{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .second-level{
    display: flex;
    margin: 4px;
    background-color: rgb(9, 3, 28)
 }
 .third-level{
    background-color: rgb(167, 230, 218);
    color:rgb(4, 11, 49);
    border: 1px solid rgb(19, 18, 18)  ;
    box-sizing: border-box;
    
 }
 .maindiv{
    width: clamp(700px,800px,900px);
    margin: 3%;
    margin-left: 1%;
    height: 600px;
    box-shadow: 14px 14px 10px ;
    background-color: rgb(0, 14, 9);
    border: 4px solid rgb(81, 24, 14);
 }
 .heading-container{
    display: block;
    font-family:cursive;
    letter-spacing: 3px;
    margin-left: 2%;
 }
 h2{
    font-family:cursive;
    color: rgb(254, 233, 244);
    font-size: 23px;
 }
button{
    height: 40px;
    width:150px;
    position:absolute;
    left:220px;
    color:rgb(241, 234, 234);
    font-weight: 1000;
    font-size: large;
    font-family: cursive;
    background-color: black ;
}
input{
    height: 35px;
}