#div1{
    background-color: aqua;
    height:40vh;
    width: 60vw;
    border:5px black solid;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;

    transition: all 3s linear 1s ;
}
#div1:hover{
    transform: rotate(30deg);
    transform:scale(1.5);
    transform:translate(500px,10px);
}
p{
    font-size:25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}